// Define mixins
@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }
    @media #{$conditions} {
        @content;
    }
}

@mixin reset-mp {
    margin: 0;
    padding: 0;
}
@mixin flex__column {
    display: flex;
    flex-flow: column nowrap;
}
@mixin flex__row{
    display: flex;
    flex-flow: row nowrap;
}